<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<link th:href="@{../../PersonalPage/MyWallet/Wallet.css}" rel="stylesheet">
<link th:href="@{../../PersonalPage/MyWallet/VerticalSlider.css}" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="container">
            <div class="form-container left-part">
            <h1 class="wallet">My Wallet</h1>

               <div class="add_container">
                   <a th:href="@{/PersonalAccount/MyWallet/add}">
                   <img

                           th:src="@{../../playground_assets/addCard.png}"
                           class="addCard-image"
                   >
                   </a>
               </div>
                <section aria-label="Newest Photos">
                    <div class="carousel" data-carousel>
                        <button class="carousel-button-1 prev" data-carousel-button="prev"><img src="../../../../playground_assets/arrow.png" alt="arrow-1" style="width: 80px; height: 80px; transform: rotate(-90deg)"></button>
                        <button class="carousel-button-2 next" data-carousel-button="next"><img src="../../../../playground_assets/arrow.png" alt="arrow-2" style="width: 80px; height: 80px; transform: rotate(90deg)"></button>
                        <div style="size: 24px; color: white; position: relative; top: 50px;">
                            <span th:text="${Empty}"></span>
                        </div>

                        <ul  data-slides>
                            <li class="slide" data-active  th:each="el:${AllCards}">
                               <div class="container-card">

                                   <img
                                           th:src="${el.getImage()}"
                                        class="container-card"
                                   >
                                   <div class="cardHolder">
                                   <span th:text="${el.getCardHolder()}"></span>
                                   <span th:text="${el.getExpireData()}"></span>
                                   </div>
                               </div>


                            </li>
                        </ul>
                    </div>
                </section>
            </div>

            <div class="form-container right-part">
            <h1 class="payments">Payments</h1>
                    <div>
                    <a href="/PersonalAccount" class="link-style">
                        <img

                                th:src="@{../../playground_assets/SignIn.png}"
                                class="signIn-image"
                        >
                    </a>
                    </div>


                <a href="javascript:PopUpShow()">
                            <button class="button-new">New</button>
                </a>


            </div>


        </div>

            <div class="container-bill" id="popup2">
                <div class="payments-container-bill-content">
                    <a href="javascript:PopUpHide1()">Back</a>
                    <form th:action="@{/accountPayment}" method="post">
                        <label>
                            <input name="byn" class="value-payment-text" type="number" placeholder="Byn:" min="3">
                        </label>
                        <label>
                            <input name="account" class="account-payment-text" type="text" placeholder="Account:">
                        </label>
                            <input type="submit" placeholder="Pay">

                    </form>
                </div>
            </div>

            <div class="payments-container" id="popup1">
                <div class="payments-container-content">

                    <span class="payments-container-head-text">New payment</span>




                    <nav id="vertical-menu">
                        <ul class="main-menu">
                            <li class="active"><a href="javascript:PopUpHide()" ><a href="javascript:PopUpHide1()"> <i class="fa fa-bank"></i>Home</a></li>
                            <li class="contain-submenu"><a href="#"><i class="fa fa-credit-card"></i>Sent</a>
                                <ul class="submenu-1">
                                        <li>
                                            <a href="javascript:PopUpShow1()">
                                                <input type="button" style="background: #2a2a2a;">Account</input>
                                            </a>
                                        </li>
                                    <li><a href="#">Card</a></li>
                                </ul>

                            </li>
                            <li><a href="#"><i class="fa fa-money"></i>Exchange</a></li>
                            <li><a href="#"><i class="fa fa-graduation-cap"></i>Link Item 5</a></li>
                            <li><a href="#"><i class="fa fa-search"></i>Link Item 6</a></li>
                        </ul>
                    </nav>
                </div>
            </div>



<script th:src="@{../../PersonalPage/MyWallet/MyWallet.js}"></script>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script>
    $(document).ready(function(){
        //Скрыть PopUp при загрузке страницы
        PopUpHide();
        PopUpHide1();
    });
    //Функция отображения PopUp
    function PopUpShow(){
        $("#popup1").show();
    }

    function PopUpShow1(){
        $("#popup2").show();
    }
    //Функция скрытия PopUp
    function PopUpHide(){
        $("#popup1").hide();

    }

    function PopUpHide1(){
        $("#popup2").hide();
    }
</script>
</body>
</html>
